.app-nav{
  background: var(--background-primary, gray);
  @media  (min-width: 768px){
    height: 100%;
  }

  .menu-list {
    margin: 0;
    &.base > .list-item{
      padding-left: 0;
    }
  }
  .list-item {
    cursor: pointer;
    position: relative;

    & + .list-item {
      border-top: 0px;
    }
   
    .text-wrapper {
      
      padding: .5rem;
      display: flex;
      align-items: center;
      &:hover,
      &.active {
        background: var(--background-primary-hover, #ccc);
      }

      a{
        line-height: 1.5rem;
      }
      .chevron {
        display: inline-block;
        width: 0; 
        height: 0; 
        border-top: .7rem solid transparent;
        border-bottom: .7rem solid transparent;
        margin-right: .5em;
        @media (prefers-reduced-motion: no-preference) {
          transition: transform 100ms;
        }
        
        
        border-left: 1rem solid var(--primary, black);
        &.open {
          transform: rotate(90deg)
        }
      }
      .spacer {
        display: inline-block;
        width:1.5rem;
      }
    }
  }
  .menu-list {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    max-height: calc(8 * 2.5rem);
    @media (prefers-reduced-motion: no-preference) {
      transition: max-height 200ms;
    }
    
    &.closed{
      max-height: 0px;
    }

  }
}