.sidebar-app{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 300px auto;
  grid-template-rows:auto 1fr;
  gap: .5rem;
  .app-header {
    grid-row: 1;
    grid-column: 1/ -1;
    h1 {
      font-family: serif;
    }
  }
  
}

