.sidebar-app{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 300px auto;
  grid-template-rows:auto 1fr;
  .app-header {
    grid-row: 1;
    grid-column: 1/ -1;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
